$black-text: #212121;
$graphite-text: #757575;
$white-text: #ffffff;
$wt-op60: rgba(255, 255, 255, 0.6);
$blue-text: #2196f3;
$lightblack: #2f303a;
$grey: #f5f4fa;
$darkblack: #000000;
$border-color: #ececec;
$network-client: #afb1b8;
$back-circle: rgba(255, 255, 255, 0.1);
$anime-function: cubic-bezier(0.4, 0, 0.2, 1);
$bg-modal: rgba(0, 0, 0, 0.2);
$back-functions: rgba(47, 48, 58, 0.8);
$text-overlay: rgba(33, 150, 243, 0.9);
$hero-overlay: rgba(47, 48, 58, 0.4);

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
